.contacts-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background: #003366;
}
.map{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin-left: -40%;
    margin-top: -25%;
}
.map object{
    left: 0;
    bottom: 0;
    position: absolute;
}

.marker{
    position: absolute;
    width: 30%;
}
.marker-min{
    position: absolute;
    width: 30%;
    height: 100%;
    bottom: 0;
}

.marker_1{
    left: 2%;
    bottom: 52%;
}
.marker-min_1 {
    left: 12%;
}
.marker-min_1 .marker-wrap-min{
    margin-top: 28%;
}

.marker_2{
    left: 39%;
    bottom: 56%;
}
.marker-min_2 {
    left: 50%;
}
.marker-min_2 .marker-wrap-min{
    margin-top: 28%;
}

.marker-wrap{
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: .5s;
}
.marker-wrap.small {
    width: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.marker-content,
.marker-content a{
    font-size: 18px;
    font-size: 1vw;
}
.marker-wrap.small .marker-content {
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
}
.marker-wrap .flag{
    width: 0;
    height: 0;
    opacity: 0;
}
.marker-wrap.small .flag{
    width: 60%;
    height: 40%;
    position: absolute;
    margin-left: -30%;
    left: 50%;
    top: 50%;
    margin-top: -20%;
    opacity: 1;
}
.marker-wrap img,
.marker-wrap-min img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.marker-wrap-min .flag {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: 50%;
    margin-left: -30%;
}
.marker-content{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.marker-content-wrap{
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30%;
    height: 50%;
    overflow: hidden;
}
.marker-content-wrap .line{
    display: inline-block;
    width: 86%;
    margin-bottom: 3%;
    text-align: left;
    padding-left: 14%;
    position: relative;
}
.marker-content-wrap .location:before{
    content: "";
    background-image: url(/img/icons/location.png);
    width: 10%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
}
.marker-content-wrap .phone:before{
    content: "";
    background-image: url(/img/icons/phone.png);
    width: 10%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
}
.marker-content-wrap .email:before{
    content: "";
    background-image: url(/img/icons/email.png);
    width: 10%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.item .location:before{
    content: "";
    background-image: url(/img/icons/location-white.png);
    width: 100%;
    height: 36px;
    position: relative;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}
.item .phone:before{
    content: "";
    background-image: url(/img/icons/phone-white.png);
    width: 100%;
    height: 36px;
    position: relative;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}
.item .email:before{
    content: "";
    background-image: url(/img/icons/email-white.png);
    width: 100%;
    height: 36px;
    position: relative;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}
.item .marker-content-wrap .line{
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 5px;
    padding: 0;
    text-align: center;
}

.marker-wrap-min{
    background-image: url(/img/marker-min.png);
    width: 30%;
    position: relative;
    cursor: pointer;
    height: 60%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.marker-wrap-min.active{
    background-image: url(/img/marker-min-active.png);
}

.button-bottom-center{
    width: 12%;
    height: 16%;
    background-image: url(/img/menu-icons/center-bottom.png);
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0;
    position: absolute;
    background-size: contain;
    transform-origin: bottom left;
    z-index: 10;
    margin-left: -6%;
}

.contacts-info{
    color: white;
    margin-top: -230px;
}

@media (max-width: 1023px){

    .button-bottom-center {
        width: 250px;
        height: 100px;
        margin-left: -125px;
    }

}