header.controls{
    left: 0px;
    top: 0px;
}

.body-wrap{
    clip-path: circle(0 at center);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    padding-bottom: 0px;
}

.right-part .inner {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}


/* Portrait */
@media screen and (orientation:portrait) {
    .right-part .inner object{
        display: inline-block;
        width: 100%;
        height: auto;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    .right-part .inner object{
        display: inline-block;
        height: 100%;
        width: auto;
    }
}