object{
    margin-right: -1.5%;
    bottom: -1.5%;
    top: unset!important;
    height: 101.5%!important;
}
#sky {
    background-image: url(/img/svg/outsource_and_outstaff_page/sky.svg);
    background-repeat: repeat-y;
    background-position: right 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    -webkit-animation: sky 60s linear infinite;
}
@-webkit-keyframes sky {
    from { background-position: 0 0; }
    to { background-position: 0 -1067px; }
}