.page-bg{
    background-image: linear-gradient(to left top, rgb(255, 255, 255) 0%, rgb(237, 232, 229) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: auto!important;
}
.svgPath{
    display: none;
 }
.path{
    fill: none;
    stroke: none;
}