html, body {
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    min-height: 45vw;
    min-width: 300px;
    font-family: 'Roboto Light', sans-serif;
}
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-thumb {
    background-color: #990066;
    outline: 1px solid slategrey;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,1);
}

div::-webkit-scrollbar {
    width: 0.5em;
}
div::-webkit-scrollbar-thumb {
    background-color: #990066;
    outline: 1px solid slategrey;
}
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,1);
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.loader img{
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
}

header.controls,
header.controls a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-size: 0.7vw;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    z-index: 10;
}
.logo img{
    max-width: 100%;
    max-height: 100%;
}
.lang{
    background-image: url(/img/menu-icons/lang.png);
    width: 9%;
    height: 17%;
    position: absolute;
    top: 4%;
    left: 10%;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}
.path{
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-weight: normal;
    position: absolute;
    top: 9%;
    left: 20%;
    z-index: 10;
    color: white;
}
header.controls .path a{
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-weight: normal;
    text-decoration: none;
    color: #f89727;
}
.menu{
    background-image: url(/img/menu-icons/main.png);
    width: 9%;
    height: 17%;
    position: absolute;
    top: 5.5%;
    right: 0;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    cursor: pointer;
}

.menu-wrap{
    position: absolute;
    width: 100%;
    z-index: 999;
    background: #ffffff;
    padding-bottom: 10px;
    overflow: hidden;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.26s ease;
}

.menu-wrap.hidden{
    transform: scaleY(0);
}

.menu-wrap ul li{
    list-style: none;
    margin: 10px;
}

.lang-mobile,
.lang-mobile a{
    color: #b8b8b8;
}
.menu-wrap .active,
.menu-wrap .active a{
    color: #ff9900;
}
.lang-mobile li{
    display: inline-block;
    margin: 10px;
}

.button-close{
    background-image: url("/img/icons/button-close.png");
    width: 60px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 15px;
    cursor: pointer;
}

.main-menu-min{
    background: #990066;
    padding: 20px;
    color: white;
}
.main-menu-min li a{
    color: white;
}

.main-menu-min ul li,
.buttons ul li{
    margin: 30px;
}

.main-menu-min ul{
    list-style: none;
    text-align: center;
}

.hidden-menu{
    list-style: none;
    margin-left: -15%;
    margin-right: 15%;
    width: auto;
    height: 0;
    overflow: hidden;
    background-color: white;
    transition: .3s;
    box-shadow: 3px 4px 3px #80808073;
}
.lang-nav:hover .hidden-menu{
    height: auto;
    padding: 10% 10% 5% 10%;
}
.lang-nav:hover .arrow-icon{
    transform: rotate(180deg);
}
.lang ul li{
    padding: 10%;
}
.lang ul li a{
    text-decoration: none;
}
.lang ul li a:hover{
    opacity: .8;
}
.lang-nav-wrap{
    position: relative;
}
.arrow-icon{
    position: absolute;
    top: 0;
    right: 30%;
    transition: .3s;
    width: 20%
}
.arrow-icon img{
    max-width: 100%;
    max-height: 100%;
}
.lang-nav{
    position: relative;
    padding: 28% 20% 0 30%;
    text-align: left;
    cursor: pointer;
    height: 20%;
}
nav.main-menu{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.link-wrap{
    position: relative;
    display: block;
}
.link-wrap:hover{
    opacity: 0.8;
}
.menu-item{
    z-index: 10;
}
.menu-item.type-1{
    width: 13.2%;
    height: 13.5%;
    background-image: url(/img/menu-icons/type-1.png);
    background-repeat: no-repeat;
    left: 7%;
    bottom: 0;
    margin-bottom: 15%;
    position: absolute;
    background-size: contain;
    transform: scale(0);
    transform-origin: bottom right;
}
.type-1 .link-wrap{
    margin: 6% 10% 6% 15%;
}
.menu-item.type-2{
    width: 9.5%;
    height: 13.5%;
    background-image: url(/img/menu-icons/type-2.png);
    background-repeat: no-repeat;
    left: 21%;
    bottom: 0;
    position: absolute;
    margin-bottom: 13.5%;
    background-size: contain;
    transform: scale(0);
    transform-origin: bottom right;
}
.type-2 .link-wrap{
    margin: 8% 20% 10% 20%;
}
.menu-item.type-3{
    width: 13%;
    height: 12%;
    background-image: url(/img/menu-icons/type-3.png);
    background-repeat: no-repeat;
    left: 28%;
    bottom: 0;
    position: absolute;
    margin-bottom: 18%;
    background-size: contain;
    transform: scale(0);
    transform-origin: bottom right;
}
.type-3 .link-wrap{
    margin: 7% 20% 10% 20%;
}
.menu-item.type-4{
    width: 8%;
    height: 8%;
    background-image: url(/img/menu-icons/type-4.png);
    background-repeat: no-repeat;
    left: 35%;
    bottom: 0;
    position: absolute;
    margin-bottom: 29.5%;
    background-size: contain;
    transform: scale(0);
    transform-origin: bottom right;
}
.type-4 .link-wrap{
    margin: 7% 30% 10% 20%;
}
.menu-item.type-5{
    width: 14%;
    height: 10%;
    background-image: url(/img/menu-icons/type-5.png);
    background-repeat: no-repeat;
    left: 51.5%;
    bottom: 0;
    position: absolute;
    margin-bottom: 26.5%;
    background-size: contain;
    transform: scale(0);
    transform-origin: top right;
}
.type-5 .link-wrap{
    margin: 21% 21% 10% 5%;
}
.menu-item.type-6{
    width: 8%;
    height: 8%;
    background-image: url(/img/menu-icons/type-6.png);
    background-repeat: no-repeat;
    left: 56%;
    bottom: 0;
    position: absolute;
    margin-bottom: 21%;
    background-size: contain;
    transform: scale(0);
    transform-origin: bottom left;
}
.type-6 .link-wrap{
    margin: 6% 10% 10% 20%;
}
.menu-item.type-7{
    width: 12%;
    height: 10%;
    background-image: url(/img/menu-icons/type-7.png);
    background-repeat: no-repeat;
    left: 64%;
    bottom: 0;
    position: absolute;
    margin-bottom: 21%;
    background-size: contain;
    transform: scale(0);
    transform-origin: bottom left;
}
.type-7 .link-wrap{
    margin: 5% 12% 10% 12%;
}
.menu-item.type-8{
    width: 14%;
    height: 12%;
    background-image: url(/img/menu-icons/type-8.png);
    background-repeat: no-repeat;
    left: 73%;
    bottom: 0;
    position: absolute;
    margin-bottom: 16%;
    background-size: contain;
    transform: scale(0);
    transform-origin: bottom left;
}
.type-8 .link-wrap{
    margin: 5% 10% 10% 18%;
}
.item-wrap{
    padding: 8% 15% 8% 15%;
}
.button-bottom-left{
    width: 12%;
    height: 16%;
    background-image: url(/img/menu-icons/left-bottom.png);
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    position: absolute;
    background-size: contain;
    transform-origin: bottom left;
    z-index: 10;
}
.button-top-right{
    width: 12%;
    height: 7%;
    background-image: url(/img/menu-icons/right-top.png);
    background-repeat: no-repeat;
    right: 0;
    top: 5%;
    position: absolute;
    background-size: contain;
    transform-origin: top right;
    z-index: 10;
    color: white;
}
.button-top-right .item-wrap a{
    color: white;
}
.button-bottom-right{
    width: 11%;
    height: 16%;
    background-image: url(/img/menu-icons/right-bottom.png);
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    position: absolute;
    background-size: contain;
    transform-origin: bottom right;
    z-index: 10;
}

.body-wrap{
    clip-path: circle(0 at center);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.bg{
    background-image: linear-gradient(#fff, #63656f);
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: auto!important;
}

.back{
    position: absolute;
    width: 102%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: -1%;
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sun{
    position: absolute;
    right: 5%;
    bottom: 0;
    z-index: 0;
    width: 10%;
    height: 100%;
}
.sun svg{
    left: 0;
    bottom: 0;
    margin-bottom: 0%;
    position: absolute;
    width: 100%;
}

.rocks_front{
    width: 102%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    margin-left: -1%;
    margin-bottom: -1px;
}
.rocks_front object,
.rocks_front svg{
    left: 0;
    bottom: 0;
    position: absolute;
}

.rocks_pre_front{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.rocks_pre_front object,
.rocks_pre_front svg{
    left: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 7%;
}

.rocks_back{
    width: 100%;
    margin: 0;
    padding: 0;
}
.rocks_back object,
.rocks_back svg{
    left: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 5%;
}

.grass_1{
    position: absolute;
    left: 37%;
    bottom: 0;
    width: 8%;
    height: 100%;
}
.grass_1 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 53%;
    position: absolute;
}
.grass_2{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 9%;
    height: 100%;
}
.grass_2 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 89%;
    position: absolute;
}
.grass_3{
    position: absolute;
    left: 75%;
    bottom: 0;
    width: 9%;
    height: 100%;
}
.grass_3 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 48%;
    position: absolute;
}
.grass_4{
    position: absolute;
    left: 12%;
    bottom: 0;
    width: 6%;
    height: 100%;
}
.grass_4 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 115%;
    position: absolute;
}

.grass_body,
.grass_shadow{
    position: relative;
}
.grass_body,
.grass svg .swing{
    transform-origin: 130px 130px;

}
.grass_shadow,
.grass svg .swing_shadow{
    transform-origin: -130px -130px;
}

.tree{
    position: absolute;
    left: 81%;
    bottom: 0;
    width: 7%;
    height: 100%;
}
.tree svg{
    left: 0;
    bottom: 0;
    margin-bottom: 125%;
    position: absolute;
}

.tree_2{
    position: absolute;
    left: 85%;
    bottom: 0;
    width: 6%;
    height: 100%;
}
.tree_2 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 146%;
    position: absolute;
}

.tree_3{
    position: absolute;
    left: 19%;
    bottom: 0;
    width: 5%;
    height: 100%;
}
.tree_3 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 220%;
    position: absolute;
}

.tree_4{
    position: absolute;
    left: 15%;
    bottom: 0;
    width: 5%;
    height: 100%;
}
.tree_4 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 205%;
    position: absolute;
}

.tree_5{
    position: absolute;
    left: 89%;
    bottom: 0;
    width: 10%;
    height: 100%;
}
.tree_5 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 95%;
    position: absolute;
}

.tree_6{
    position: absolute;
    left: 29%;
    bottom: 0;
    width: 10%;
    height: 100%;
}
.tree_6 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 130%;
    position: absolute;
}

.tree_7{
    position: absolute;
    left: 22%;
    bottom: 0;
    width: 6%;
    height: 100%;
}
.tree_7 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 195%;
    position: absolute;
}

.front_tree_1{
    position: absolute;
    left: -11%;
    bottom: 0;
    width: 50%;
    height: 100%;
    pointer-events: none
}
.front_tree_1 svg{
    left: 0;
    bottom: 0;
    margin-bottom: -3%;
    position: absolute;
}

.front_tree_cat{
    position: absolute;
    left: 44%;
    bottom: 0;
    width: 35%;
    height: 100%;
}
.front_tree_cat svg{
    left: 0;
    bottom: 0;
    margin-bottom: 15%;
    position: absolute;
}

.front_tree_cat_shadow{
    position: absolute;
    left: 27%;
    bottom: 0;
    width: 35%;
    height: 100%;
}
.front_tree_cat_shadow svg{
    left: 0;
    bottom: 0;
    margin-bottom: -2.5%;
    position: absolute;
}

.front_tree_2{
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 18%;
    height: 100%;
}
.front_tree_2 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 55%;
    position: absolute;
}

.front_tree_2_shadow{
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 30%;
    height: 100%;
}
.front_tree_2_shadow svg{
    left: 0;
    bottom: 0;
    margin-bottom: 23%;
    position: absolute;
}

.front_tree_3{
    position: absolute;
    left: 63%;
    bottom: 0;
    width: 20%;
    height: 100%;
}
.front_tree_3 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 35%;
    position: absolute;
}

.front_tree_3_shadow{
    position: absolute;
    left: 53%;
    bottom: 0;
    width: 20%;
    height: 100%;
}
.front_tree_3_shadow svg{
    left: 0;
    bottom: 0;
    margin-bottom: 15%;
    position: absolute;
}

.front_tree_4{
    position: absolute;
    left: 39%;
    bottom: 0;
    width: 20%;
    height: 100%;
}
.front_tree_4 svg{
    left: 0;
    bottom: 0;
    margin-bottom: 55%;
    position: absolute;
}

svg .tree-tip,
svg .tree-middle,
svg .tree-bottom,
svg .tree-trunk,
svg .tree-top{
    transform-origin: bottom center;
}

.bird{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 5%;
    height: 100%;
}
.bird svg{
    left: 0;
    bottom: 0;
    position: absolute;
}
#bird-template{
    display: none;
}

#eye_left,
#eye_right{
    position: relative;
}

.cat_brown{
    position: absolute;
    left: 36.8%;
    bottom: 0;
    width: 8%;
    height: 100%;
}
.cat_brown svg{
    left: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 294%;
}
.cat_brown .cat_tail{
    transform-origin: right center;
}

.cat_yellow{
    position: absolute;
    left: 47%;
    bottom: 0;
    width: 8%;
    height: 100%;
}
.cat_yellow svg{
    left: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 230%;
}
.cat_yellow .cat_tail{
    transform-origin: right center;
}

.cat_orange{
    position: absolute;
    left: 61%;
    bottom: 0;
    width: 10%;
    height: 100%;
}
.cat_orange svg{
    left: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 140%;
}
.cat_orange .cat_tail{
    transform-origin: 50% 90%;
}

.cat_blue{
    position: absolute;
    left: 65%;
    bottom: 0;
    width: 12%;
    height: 100%;
}
.cat_blue svg{
    left: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 55%;
}
.cat_blue .cat_tail{
    transform-origin: right center;
}

.cat_green{
    position: absolute;
    left: 35%;
    bottom: 0;
    width: 18%;
    height: 100%;
}
.cat_green svg{
    left: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 68%;
}
.cat_green .cat_tail{
    transform-origin: center center;
}

.cats{
    pointer-events: none;
}
.cat_body{
    cursor: pointer;
    pointer-events: auto;
}

.cat_violet{
    position: absolute;
    left: 25.5%;
    bottom: 0;
    width: 10%;
    height: 100%;
}
.cat_violet svg{
    left: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 84%;
}
.cat_violet .cat_tail{
    transform-origin: right center;
}

.cat_chocolate{
    position: absolute;
    left: 15%;
    bottom: 0;
    width: 8%;
    height: 100%;
}
.cat_chocolate svg{
    left: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 135%;
}
.cat_chocolate .cat_tail{
    transform-origin: -300% 250%;
}

.clouds-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
}
.clouds{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url("/img/clouds.png") repeat-x 0 0;
}
.clouds-back{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url("/img/clouds-back.png") repeat-x 0 0;
}
.clouds.active{
    -webkit-animation: slide 50s linear infinite;
}
.clouds-back.active{
    -webkit-animation: slide 60s linear infinite;
}
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 1600px 0; }
}

.content{
    width: 1024px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -512px;
    height: auto;
}

.slider{
    margin-top: 240px;
}

.menu-item-mobile a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.slider-wrap{
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
}

.slider .item-wrap .link-wrap {
    margin: 0;
}

.slider .item-wrap {
    margin-top: 365px;
    transition: .5s;
}

.slick-current .item-wrap {
    margin-top: 220px;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
}

.content object{
    height: 100%;
    object-fit: cover;
}

.item-wrap a{
    display: block;
}
.menu-item-mobile{
    position: relative;
    background-size: contain;
    margin-bottom: 20px;
    left: 50%;
    transform-origin: bottom right;
    background-repeat: no-repeat;
}
.menu-item-mobile.type-1 {
    background-image: url(/img/menu-icons/type-1-m.png);
    padding: 5px 10px 0 20px;
    width: 135px;
    height: 30px;
    margin-left: -82.5px;
}
.menu-item-mobile.type-2 {
    background-image: url(/img/menu-icons/type-2-m.png);
    padding: 5px 10px 0 5px;
    width: 125px;
    height: 30px;
    margin-left: -70px;
}
.menu-item-mobile.type-3 {
    background-image: url(/img/menu-icons/type-3-m.png);
    padding: 5px 10px 0 10px;
    width: 125px;
    height: 30px;
    margin-left: -72.5px;
}
.menu-item-mobile.type-4 {
    background-image: url(/img/menu-icons/type-4-m.png);
    padding: 5px 10px 0 20px;
    width: 75px;
    height: 30px;
    margin-left: -52.5px;
}
.menu-item-mobile.type-5 {
    background-image: url(/img/menu-icons/type-5-m.png);
    padding: 5px 20px 0 10px;
    width: 130px;
    height: 30px;
    margin-left: -82.5px;
}
.menu-item-mobile.type-6 {
    background-image: url(/img/menu-icons/type-6-m.png);
    padding: 5px 10px 0 5px;
    width: 125px;
    height: 30px;
    margin-left: -70px;
}
.menu-item-mobile.type-7 {
    background-image: url(/img/menu-icons/type-7-m.png);
    padding: 5px 10px 0 20px;
    width: 135px;
    height: 30px;
    margin-left: -82.5px;
}
.menu-item-mobile.type-8 {
    background-image: url(/img/menu-icons/type-8-m.png);
    padding: 5px 10px 0 20px;
    width: 135px;
    height: 30px;
    margin-left: -82.5px;
}

.item-wrap object{
    position: relative;
    z-index: -999;
}

.page-bg {
    background-image: none;
}

.object-cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 5;
}

.right-part{
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.right-part object,
.right-part svg{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

.left-part{
    position: absolute;
    top: 15%;
    width: 40%;
    margin: 5%;
    height: 54%;
    overflow: hidden;
    z-index: 10;
}
.left-part h1{
    color: #f89727;
}

.left-part-wrap{
    overflow: auto;
    display: block;
    position: relative;
    height: 100%;
    padding: 0 20px 0 20px;
    background-color: white;
}
.left-part-content{
    padding-bottom: 20px;
}

.gradient{
    background: linear-gradient( to top, white, rgba(255, 0, 0, 0) );
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-left: -3%;
}

.page header.controls .path{
    color: #f89727;
}
.page header.controls .path a{
    color: black;
}

@media (max-width: 1023px){

    body{
        min-height: 820px;
        max-width: 1024px;
        margin: auto;
    }

    .logo {
        width: 160px;
    }

    .lang {
        width: 170px;
        height: 134px;
        top: 30px;
        left: 140px;
    }

    .path {
        top: 75px;
        left: 300px;
    }

    .menu{
        width: 170px;
        height: 106px;
        top: 32px;
    }

    .main-page .menu{
        right: 250px;
    }

    header.controls,
    header.controls a{
        font-size: 16px;
    }

    nav.main-menu {
        width: 290px;
        height: 80%;
        top: 16%;
        left: 50%;
        margin-left: -145px;
    }

    .menu-item.type-1 {
        background-image: url(/img/menu-icons/type-1-m.png);
        padding: 20px 30px 20px 50px;
        position: relative;
        background-size: cover;
        width: 190px;
        height: 15px;
        margin-bottom: 20px;
        display: inline-block;
        left: 0;
        transform-origin: bottom right;
    }
    .menu-item.type-2 {
        background-image: url(/img/menu-icons/type-2-m.png);
        padding: 20px 30px 20px 50px;
        position: relative;
        background-size: cover;
        width: 135px;
        height: 20px;
        margin-bottom: 20px;
        display: inline-block;
        left: 0;
        transform-origin: bottom right;
    }
    .menu-item.type-3 {
        background-image: url(/img/menu-icons/type-3-m.png);
        padding: 15px 20px 20px 20px;
        position: relative;
        background-size: cover;
        width: 200px;
        height: 20px;
        margin-bottom: 20px;
        display: inline-block;
        left: 0;
        transform-origin: bottom right;
    }
    .menu-item.type-4 {
        background-image: url(/img/menu-icons/type-4-m.png);
        padding: 20px 50px 20px 50px;
        position: relative;
        background-size: cover;
        width: 60px;
        height: 15px;
        margin-bottom: 20px;
        display: inline-block;
        left: 0;
        transform-origin: bottom right;
    }
    .menu-item.type-5 {
        background-image: url(/img/menu-icons/type-5-m.png);
        padding: 15px 50px 20px 30px;
        position: relative;
        background-size: cover;
        width: 200px;
        height: 15px;
        margin-bottom: 20px;
        display: inline-block;
        left: 0;
        transform-origin: top right;
    }
    .menu-item.type-6 {
        background-image: url(/img/menu-icons/type-6-m.png);
        padding: 20px 30px 20px 50px;
        position: relative;
        background-size: cover;
        width: 150px;
        height: 20px;
        margin-bottom: 20px;
        display: inline-block;
        left: 0;
        transform-origin: bottom left;
    }
    .menu-item.type-7 {
        background-image: url(/img/menu-icons/type-7-m.png);
        padding: 15px 30px 20px 50px;
        position: relative;
        background-size: cover;
        width: 200px;
        height: 15px;
        margin-bottom: 20px;
        display: inline-block;
        left: 0;
        transform-origin: bottom left;
    }
    .menu-item.type-8 {
        background-image: url(/img/menu-icons/type-8-m.png);
        padding: 12px 20px 20px 50px;
        position: relative;
        background-size: cover;
        width: 210px;
        height: 15px;
        margin-bottom: 20px;
        display: inline-block;
        left: 0;
        transform-origin: bottom left;
    }

    .link-wrap{
        margin: 0!important;
    }

    .button-bottom-left {
        width: 250px;
        height: 100px;
    }
    .button-top-right {
        width: 240px;
        height: 60px;
    }
    .button-bottom-right {
        width: 250px;
        height: 100px;
    }
}

@media (max-width: 599px) {

    body{
        min-height: 500px;
    }

    .slider .item-wrap {
        margin-top: 220px;
    }

    .main-page .menu {
        right: -40px;
        top: 100px;
    }

    .button-top-right {
        width: 200px;
        height: 60px;
    }

}

/*MODAL WINDOW*/
.modal{
    position: absolute;
    width: 100%;
    max-width: 40%;
    margin-left: -20%;
    left: 50%;
    top: 30px;
    z-index: 9999999;
    display: none;
}
.modal-logo{
    text-align: center;
}
.modal-logo img{
    max-width: 100%;
    max-height: 100%;
}
.modal-content-wrap{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}
.modal-content{
    text-align: center;
}
.form-data{
    width: 100%;
    min-height: 50px;
    max-width: 87.3%;
    margin: auto;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    display: grid;
}
.form-data input{
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    box-sizing: border-box;
}
.form-data textarea{
    width: 100%;
    text-align: center;
    border: none;
    box-sizing: border-box;
    resize: none;
    padding: 20px 0 20px 0;
}
textarea::-webkit-scrollbar {
    width: 0.5em;
}
textarea::-webkit-scrollbar-thumb {
    background-color: #990066;
    outline: 1px solid slategrey;
}
textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#modal-back{
    position: fixed;
    background-color: black;
    z-index: 999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    display: none;
    cursor: pointer;
}

.visible{
    display: block!important;
}

.content-bottom{
    margin: 20px;
}
.submit-button {
    background: url(/img/modal/button-contacts.png);
    width: 240px;
    height: 60px;
    color: #fff;
    border: none;
    text-shadow:none;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.button-center{
    width: 90%;
    max-width: 340px;
    background-image: url(/img/icons/button-white.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    padding: 5px 20px 20px 20px;
}
a.button-center {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

