.title{
    position: relative;
    display: block;
    padding: 20px;
    margin-top: 120px;
}
.content-svg{
    text-align: center;
    width: 100%;
    position: relative;
    display: block;
}
.content-mobile{
    position: relative;
    display: block;
    padding: 30px;
}

.body-wrap {
    overflow: unset;
}